@import url(./style.css);
@import url(./mdb.main.css);
@import url(./new-prism.css);
@import url(./all.css);

.card {
    max-width: 600px;
    min-width: 300px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.form-control {
    outline: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.form-control.filled ~ .form-label {
    transform: translateY(-95%);
}

.button-back {
    background: #000;
}
.fa-solid {
    margin-left: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.voltar {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.jb-fa-8x {
    font-size: 8em;
}

@media (min-width: 992px) {
    .p-lg-5 {
        padding: 4rem !important;
    }
}
