@import url(./style.css);

.card {
    max-width: 600px;
    min-width: 300px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.form-notch-leading {
    border-radius: 1rem 0 0 1rem !important;
    /* width: 18px !important; */
}
.form-notch-trailing {
    border-radius: 0 0.5rem 0.5rem 0 !important;
}
.jb-rounded {
    border-radius: 0.6rem;
    border: 1px solid var(--mdb-form-control-border-color);
}

.form-control.filled ~ .form-label {
    transform: translateY(-95%);
}

.button-back {
    background: var(--preto);
}
.jb-fa-arrow {
    margin-left: 1rem;
    color: var(--branco);
    font-weight: bold;
    font-size: 15px;
}

.jb-fa-8x {
    font-size: 8rem !important;
}
/* Botão "Voltar ao topo (seta)" */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
    /* padding: 0.6rem 0.9rem !important; */
}
.is-valid {
    --mdb-form-select-bg-icon: none !important;
}
/* ===- Modo claro/escuro imagem logo -=== */
/* Imagem para o tema claro */
[data-mdb-theme="light"] .logo-txt-custom  {
    content: url('../../assets/imgs/icons/dark/icon-txt.png') !important;
}
/* Imagem para o tema escuro */
[data-mdb-theme="dark"] .logo-txt-custom {
    content: url('../../assets/imgs/icons/white/icon-txt-white.png') !important;
}

[data-mdb-theme="dark"] .fa-unlock-keyhole {
    color: var(--branco) !important;
}

[data-mdb-theme="dark"] .jb-color-link a {
    color: var(--amarelo) !important;
}

/* ==== Modal "dialog" ==== */
/* Fundo do modal */
dialog::backdrop {
    background-color: var(--preto-transparente);
}
/* Modal */
dialog {
    border: none;
    margin: auto !important;
}
/* Para ocultar o ícone de visualização padrão */
input[type="password"] {
    position: relative;
}

input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear {
    display: none; /* Para navegadores que suportam */
}
/* Ícone de olho - senha */
#eye-icon {
    position: absolute;
    top: 11px;
    right: 17px;
    color: var(--cor-label);
    /* margin: 5px -24px; */
    cursor: pointer;
}
#eye-icon:hover {
    color: var(--cor-label-hover);
}
/* == Mobile texto == */
@media (min-width: 992px) {
    .p-lg-5 {
        padding: 4rem !important;
    }
}