/* === Config padrão Imagem de fundo === */
.background-image {
    content: "";
    position: absolute;
    /* top: 50px; */
    width: 100%;
    height: 100%;
    z-index: -1;
}

.jb-card {
  border-radius: 1rem !important;
  z-index: 2;
  max-width: 360px !important; 
  min-height: 200px !important;
}
/* ===- Img de fundo Página Home -=== */
    /* -- Imagem de fundo (Sobre Assinatura) "section 1" -- */
#section1 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(../imgs/banner-1.png)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}
    /* -- Imagem de fundo (Nossos Serviços) "section 2" -- */
#section2 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://img.freepik.com/fotos-premium/uma-tabua-preta-com-tesouras-e-uma-taboa-preta-com-um-rotulo-que-diz-cabelo_955834-53974.jpg)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}
    /* -- Imagem de fundo (Quem Somos) "section 3" -- */
#section3 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://d1muf25xaso8hp.cloudfront.net/https://img.criativodahora.com.br/2024/03/criativo-660976974a019img-2024-03-31660976974a01e.jpg?w=1000&h=&auto=compress&dpr=1&fit=max)
        no-repeat /* repeat */
        center /* position */
        center/cover /* size */;
}
    /* -- Imagem de fundo (Planos de Assinatura) "section 4" -- */
#section4 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(../imgs/banner-2.png)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}
    /* -- Imagem de fundo (Depoimentos) "section 5" -- */
#section5 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://img.freepik.com/fotos-premium/palo-de-barbeiro-classico-em-fundo-de-madeira_1258195-1207.jpg?semt=ais_hybrid)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}

/* ===- Img de fundo Página Sobre -=== */
    /* -- Imagem de fundo (Sobre) "section 6" -- */
#section6 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://s3-alpha-sig.figma.com/img/009e/f568/af8de0f045f9537713547ed59be2b3e3?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QrXPGU4zl1hSRu68bk20fD4RrDlPsC15blaj6VKbNVVm-oQqfD~XoRlYz8vKEb9u55iLxurIIEGw5l6gCfXm0dgSxRpiATzefFGQDGQ2G6Ov0p7mMqMlw6-~imMXyV4aOtKYA0SKGKTCim9Vgw9vdQmxwep~8zTE55d~XXqUKwmHqeQnFRXazrqtZYkeZHxJKqdTqZG2xrWkVbkRPGjSrU5KXWsjvQkSXG3dgs7UEa~n5W4DPbjyalNxVu3bfd~CEPw0tOQzERal5TOTWwuA1Ok6-1XmuXdojlEwpUULp7SRPfv0lH2VWH9jVYBrcwZGN4rCDLC7Ur7r8jyx5gib~Q__)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}

/* ===- Img de fundo Página Serviços -=== */
    /* -- Imagem de fundo (Serviços) "section 7" -- */
#section7 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://s3-alpha-sig.figma.com/img/009e/f568/af8de0f045f9537713547ed59be2b3e3?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QrXPGU4zl1hSRu68bk20fD4RrDlPsC15blaj6VKbNVVm-oQqfD~XoRlYz8vKEb9u55iLxurIIEGw5l6gCfXm0dgSxRpiATzefFGQDGQ2G6Ov0p7mMqMlw6-~imMXyV4aOtKYA0SKGKTCim9Vgw9vdQmxwep~8zTE55d~XXqUKwmHqeQnFRXazrqtZYkeZHxJKqdTqZG2xrWkVbkRPGjSrU5KXWsjvQkSXG3dgs7UEa~n5W4DPbjyalNxVu3bfd~CEPw0tOQzERal5TOTWwuA1Ok6-1XmuXdojlEwpUULp7SRPfv0lH2VWH9jVYBrcwZGN4rCDLC7Ur7r8jyx5gib~Q__)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}

/* ===- Img de fundo Página Agendar -=== */
    /* -- Imagem de fundo (Agendar) "section 8" -- */
#section8 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://barbearia01.superservidor.info/medias/Barbearia-22.jpg)
        no-repeat /* repeat */
        top /* position */
        center/cover/* size */;
        /* background-size: ; */
}

/* ===- Img de fundo Página Contatos -=== */
    /* -- Imagem de fundo (Contatos) "section 9" -- */
#section9 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://thumbs.dreamstime.com/b/pincel-para-barba-junto-com-tigela-fundo-desfocado-de-sal%C3%A3o-cabelo-homens-barbearia-164077707.jpg)
        no-repeat /* repeat */
        top /* position */
        center/cover/* size */;
        /* background-size: ; */
}

/* https://s3-alpha-sig.figma.com/img/8d49/e997/43750347fa57f1f28ed3ac71ac9470f1?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DzUqWnMx8hPqzFngmPvrbJnCxXwOjZt6Iwci1~LKJszXCehU2p0xH752ppWiIzYHvpxXWLFAN6T3KYkNjK0PKQw~P2MZqniCWLurZKnpIKZbn8Tp7q7BZ6ldFnYJAPNGkJp~Xyev-CM1Yk2cvCZffAaP6siOkbbP3AVoCuOfv~qL-nqv6SIbZLflhWZu3twJc3HMK81oe8yucYOpp6s7Gwq2lCNs9RLsipr4FrR-5YhvBGY4Joo-90Z3Uez7s95rUr2EvC5rI78576r72IaZe1Cx4bYBFTM6VHByo1bTX71m8XFZkbmVerHEGOdz1DaPUzI3LsY~QXiQCIo2Y4bohw__ */

/* Efeito desfoque imagem de fundo */
.img-dfc {
    filter: blur(5px); /* Aplica o efeito de desfoque */
}
/* === "div" global de texto === */
.text-box {
    display: inline-block;
    z-index: 2;
    padding: 5rem;
    height: 100%;
    width: 100%;
    color: var(--branco);
}
.text-box-title {
    z-index: 2;
    padding: 5rem 0 0 0;
}
.text-box-decricao {
    display: inline-block;
    /* z-index: 2; */
    /* padding: 5rem; */
    height: 100%;
    width: 100%;
}
/* === Texto da página === */
.text-home {
    width: 100%;
    font-size: 3.5rem;
}
.texto-descricao {
    font-weight: 300;
    max-width: 540px;
    margin: 2rem 0 3rem 0;
}

.hr-custom {
    border: none;
    height: 8px;
    /* width: 20px; */
    background: linear-gradient(135deg, #ffc107 33%, #ffffff 33%, #ffffff 66%, #ffc107 66%);
    /* border-radius: 10px; */
    box-shadow: 2px 10px 16px 7px #212529b3;
    margin: 0;
}
/* -- Ícone de "X" cards -- */
.fa-xmark {
    color: red;
}
/* class font-size BS personalizada */
.jb-fs-7 {
  font-size: 0.9rem;
}

/* --- Config formulário de agendamento --- */
.form-step {
    display: none;
}
.form-step.active {
    display: block;
}
.summary {
    display: none;
}
.summary.active {
    display: block;
}

/* ===- Config Modo Claro/Escuro -=== */
[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target] {
    background-color: var(--branco);
}

/* === Responsividade da "div" e texto da página === */
@media (max-width: 768px) {
    /* class font-size BS personalizada */
    .fs-md-5 {
        font-size: 2.5rem;
    }
    /* "div" texto global */
    .text-box {
        padding: 1.5rem;
    }
}

@media (min-width: 375px) {
    .jb-img-responsive, .jb-wm-100 {
        width: 25%;
    }
}
  
@media (min-width: 768px) {
    .jb-img-responsive, .jb-wm-100 {
        width: 100%;
    }
}

@media (min-width: 375px) {
    .jb-wm-100 {
        width: 100% !important;
    }
}
  
@media (min-width: 768px) {
    .jb-wm-100 {
        width: 75% !important;
    }
}

.carousel {
    height: 360px !important;
}
@media (min-width: 344px) {
    .carousel {
        height: 540px !important;
    }
}
@media (min-width: 375px) {
    .carousel {
        height: 500px !important;
    }
}
@media (min-width: 360px) {
    .carousel {
        height: 500px !important;
    }
}
@media (min-width: 768px) {
    .carousel {
        height: 400px !important;
    }
}
/* ===- Bordas responsivas cards Página Serviços -=== */
    /* Bordas superiores */
.jb-rounded-start {
    border-radius: 16px 16px 0 0;  /* Arredondado em cima */
}
    /* Bordas inferiores */
.jb-rounded-end {
    border-radius: 0 0 16px 16px;  /* Arredondado embaixo */
}
/* Mobile (< 768px) */
@media (max-width: 767.98px) {
    /* Remove borda superior no mobile */
    .jb-rounded-end {
        border-top: 0 !important;  
    }
}
/* Desktop (≥ 768px) */
@media (min-width: 768px) {
    /* Arredondado na esquerda */
    .jb-rounded-start {
        border-radius: 16px 0 0 16px;  
    }
    
    .jb-rounded-end {
        border-radius: 0 16px 16px 0;  /* Arredondado na direita */
        border-left: 0 !important;  /* Remove borda esquerda no desktop */
        border-top: auto !important;  /* Restaura borda superior no desktop */
    }
}

/* [data-bs-theme="light"] .carousel .carousel-indicators [data-bs-target] {
    background-color: var(--branco);
} */
/* [data-bs-theme="light"] .carousel .carousel-indicators [data-bs-target] {
    background-color: var(--preto);
} */

/* [data-bs-theme=light] .carousel .fa-chevron-left, 

[data-bs-theme=light] .carousel .fa-chevron-right {
    color: var(--preto);
} */

