/* === Config padrão Imagem de fundo === */
.background-image {
    content: "";
    position: absolute;
    /* top: 50px; */
    width: 100%;
    height: 100%;
    z-index: -1;
}

.jb-card {
  border-radius: 1rem !important;
  z-index: 2;
  max-width: 360px !important; 
  min-height: 200px !important;
}
/* -- Imagem de fundo "section 1" -- */
#section1 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(../imgs/banner-1.png)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}
/* -- Imagem de fundo "section 2" -- */
#section2 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(../imgs/banner-2.png)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}
/* === "div" global de texto === */
.text-box {
    display: inline-block;
    z-index: 2;
    padding: 5rem;
    height: 100%;
    width: 100%;
    color: var(--branco);
}

.text-box-title {
    z-index: 2;
    padding: 5rem 0 0 0;
}
.text-box-decricao {
    display: inline-block;
    /* z-index: 2; */
    /* padding: 5rem; */
    height: 100%;
    width: 100%;
}
/* === Texto da página === */
.text-home {
    width: 100%;
    font-size: 3.5rem;
}
.texto-descricao {
    font-weight: 300;
    max-width: 540px;
    margin: 2rem 0 3rem 0;
}

.barber-pole {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: -1px 0; /* remove o espaço abaixo do SVG */
}


.wave-divider {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
    margin: -1px 0; /* remove o espaço abaixo do SVG */
}


/* === Responsividade da "div" e texto da página === */
@media (max-width: 768px) {
    /* class font-size BS personalizada */
    .fs-md-5 {
        font-size: 2.5rem;
    }
    /* "div" texto global */
    .text-box {
        padding: 1.5rem;
    }
}

@media (min-width: 375px) {
    .jb-img-responsive, .jb-wm-100 {
        width: 25%;
    }
}
  
@media (min-width: 768px) {
    .jb-img-responsive, .jb-wm-100 {
        width: 100%;
    }
}

@media (min-width: 375px) {
    .jb-wm-100 {
        width: 100% !important;
    }
}
  
@media (min-width: 768px) {
    .jb-wm-100 {
        width: 75% !important;
    }
}


.fa-xmark {
    color: red;
}

.jb-fs-7 {
  font-size: 0.9rem;
}