/* === Config padrão Imagem de fundo === */
.background-image {
    content: "";
    position: absolute;
    /* top: 50px; */
    width: 100%;
    height: 100%;
    z-index: -1;
}

.jb-card {
  border-radius: 1rem !important;
  z-index: 2;
  max-width: 360px !important; 
  min-height: 200px !important;
}
/* -- Imagem de fundo "section 1" -- */
#section1 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(../imgs/banner-1.png)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}
/* -- Imagem de fundo "section 2" -- */
#section2 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://img.freepik.com/fotos-premium/uma-tabua-preta-com-tesouras-e-uma-taboa-preta-com-um-rotulo-que-diz-cabelo_955834-53974.jpg)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}
/* -- Imagem de fundo "section 3" -- */
#section3 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://d1muf25xaso8hp.cloudfront.net/https://img.criativodahora.com.br/2024/03/criativo-660976974a019img-2024-03-31660976974a01e.jpg?w=1000&h=&auto=compress&dpr=1&fit=max)
        no-repeat /* repeat */
        center /* position */
        center/cover /* size */;
}

/* -- Imagem de fundo "section 4" -- */
#section4 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(../imgs/banner-2.png)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}
/* -- Imagem de fundo "section 5" -- */
#section5 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://img.freepik.com/fotos-premium/palo-de-barbeiro-classico-em-fundo-de-madeira_1258195-1207.jpg?semt=ais_hybrid)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}
/* -- Imagem de fundo "section 6" -- */
#section6 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://s3-alpha-sig.figma.com/img/009e/f568/af8de0f045f9537713547ed59be2b3e3?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QrXPGU4zl1hSRu68bk20fD4RrDlPsC15blaj6VKbNVVm-oQqfD~XoRlYz8vKEb9u55iLxurIIEGw5l6gCfXm0dgSxRpiATzefFGQDGQ2G6Ov0p7mMqMlw6-~imMXyV4aOtKYA0SKGKTCim9Vgw9vdQmxwep~8zTE55d~XXqUKwmHqeQnFRXazrqtZYkeZHxJKqdTqZG2xrWkVbkRPGjSrU5KXWsjvQkSXG3dgs7UEa~n5W4DPbjyalNxVu3bfd~CEPw0tOQzERal5TOTWwuA1Ok6-1XmuXdojlEwpUULp7SRPfv0lH2VWH9jVYBrcwZGN4rCDLC7Ur7r8jyx5gib~Q__)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}

#section7 .background-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* opacidade */
        url(https://www.shutterstock.com/image-photo/barbershop-blurred-background-hairdresser-hair-260nw-737734267.jpg)
        no-repeat /* repeat */
        top /* position */
        center/cover /* size */;
}


/* Efeito desfoque imagem de fundo */
.img-dfc {
    filter: blur(5px); /* Aplica o efeito de desfoque */
}
/* === "div" global de texto === */
.text-box {
    display: inline-block;
    z-index: 2;
    padding: 5rem;
    height: 100%;
    width: 100%;
    color: var(--branco);
}

.text-box-title {
    z-index: 2;
    padding: 5rem 0 0 0;
}
.text-box-decricao {
    display: inline-block;
    /* z-index: 2; */
    /* padding: 5rem; */
    height: 100%;
    width: 100%;
}
/* === Texto da página === */
.text-home {
    width: 100%;
    font-size: 3.5rem;
}
.texto-descricao {
    font-weight: 300;
    max-width: 540px;
    margin: 2rem 0 3rem 0;
}

.hr-custom {
    border: none;
    height: 8px;
    /* width: 20px; */
    background: linear-gradient(135deg, #ffc107 33%, #ffffff 33%, #ffffff 66%, #ffc107 66%);
    /* border-radius: 10px; */
    box-shadow: 2px 10px 16px 7px #212529b3;
    margin: 0;
}

/* === Responsividade da "div" e texto da página === */
@media (max-width: 768px) {
    /* class font-size BS personalizada */
    .fs-md-5 {
        font-size: 2.5rem;
    }
    /* "div" texto global */
    .text-box {
        padding: 1.5rem;
    }
}

@media (min-width: 375px) {
    .jb-img-responsive, .jb-wm-100 {
        width: 25%;
    }
}
  
@media (min-width: 768px) {
    .jb-img-responsive, .jb-wm-100 {
        width: 100%;
    }
}

@media (min-width: 375px) {
    .jb-wm-100 {
        width: 100% !important;
    }
}
  
@media (min-width: 768px) {
    .jb-wm-100 {
        width: 75% !important;
    }
}


.fa-xmark {
    color: red;
}

.jb-fs-7 {
  font-size: 0.9rem;
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target] {
    background-color: var(--branco);
}
/* [data-bs-theme="light"] .carousel .carousel-indicators [data-bs-target] {
    background-color: var(--branco);
} */
/* [data-bs-theme="light"] .carousel .carousel-indicators [data-bs-target] {
    background-color: var(--preto);
} */

/* [data-bs-theme=light] .carousel .fa-chevron-left, 
[data-bs-theme=light] .carousel .fa-chevron-right {
    color: var(--preto);
} */

.carousel {
    height: 360px !important;
}


@media (min-width: 344px) {
    .carousel {
        height: 540px !important;
    }
}
@media (min-width: 375px) {
    .carousel {
        height: 500px !important;
    }
}
@media (min-width: 360px) {
    .carousel {
        height: 500px !important;
    }
}
@media (min-width: 768px) {
    .carousel {
        height: 400px !important;
    }
}