/* --== Imports do css das página ==-- */
@import url(./navbar-footer.css);
@import url(./home.css);
@import url(./auth.css);
/* ==== Padronização do site ==== */
:root {
/* ==== Cores base ==== */
    --preto: #000;
    --preto-transparente: rgb(0 0 0 / .5);
    --branco: #fff;
    --branco-escuro: #f0f1f3;
    --cinza-claro: #e0e0e0;
    --cinza-escuro: #6c757d;
    --text-muted-color: #dee2e6bf;
    --amarelo: #ffc107;
    --amarelo-font: #FFD700;
    --dourado: #e4a11b;
    --dourado-escuro: #c9901f;
    
/* ==== Cores modo claro/escuro ==== */
    --custom-bg-dark: #212529;
    --custom-text-dark: #f8f9fa;
    --custom-text-muted: #6c757d;

/* ==== Fontes base ==== */
    --font-Montserrat: "Montserrat", sans-serif; /* Fonte Padrão */
    --font-Lalezar: "Lalezar", system-ui; /* Fonte adicional */
}
/* -=- Config global -=- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-Montserrat);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
body, footer, div, section, i, a, ul, li {
    transition: background 0.1s linear;
}
/* ---- Config "main" (index) ---- */
#content {
    position: relative;
    overflow: hidden; 
}
/* ---- Config "section" (Conteúdos das páginas) ---- */
.section-page {
    display: inline-block;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    /* width: auto; */
    /* height: auto; */
}
/* ============================================== */
/* --= "div" Página principal - 'index' (nav, main, footer) =-- */
.container-base{
    padding: 0;
    margin: 0;
}
/* ++ Classe personalizada para fonte Lalezar ++ */
.jb-font-Lalezar {
    font-family: var(--font-Lalezar);
    font-weight: 400;
    font-style: normal;
}

[data-bs-theme="dark"] .jb-text-black {
    color: var(--preto);
}

.jb-mb-4-2 {
    margin-bottom: 1.9rem !important;
}
.jb-text-muted {
    color: var(--text-muted-color) !important;
}

.jb-min-width-0[data-bs-popper] {
   min-width: 0 !important;
}
/* ===- Config Modo Claro/Escuro -=== */
/* custom global */
[data-bs-theme="light"] .text-bg-custom {
    background-color: var(--branco-escuro) !important;
    color: var(--custom-text-light);
}
[data-bs-theme="dark"] .text-bg-custom {
    background-color: var(--preto);
}
/* menus navbar */
[data-bs-theme="light"] .jb-text-white {
    color: var(--custom-text-light) !important;
}
/* Menu Hambúrguer */
[data-bs-theme="light"] .navbar-toggler span {
    background-color: var(--preto);
}
/* Botão "A+ / A-" */
[data-bs-theme="light"] .js-border-text-warning {
    border: 2px solid var(--cinza-escuro) !important;
    color: var(--cinza-escuro) !important;
}
[data-bs-theme="dark"] .js-border-text-warning {
    border: 2px solid var(--amarelo) !important;
    color: var(--amarelo) !important;
}
/* custom footer */
[data-bs-theme="light"] .text-bg-footer-custom {
  background-color: var(--branco-escuro) !important;
  color: var(--custom-text-light) !important;
}
[data-bs-theme="dark"] .text-bg-footer-custom {
    background-color: var(--preto);
    color: var(--custom-text-muted);
}
/* ===- Modo claro/escuro imagem logo -=== */
/* Imagem para o tema claro */
[data-bs-theme="light"] .img-custom {
    content: url('../imgs/logos/dark/logo.png');
}
/* Imagem para o tema escuro */
[data-bs-theme="dark"] .img-custom {
    content: url('../imgs/logos/white/logo-white.png');
}

[data-bs-theme="dark"] .invert-dark {
    filter: invert(1);
}