/* --- Botão Hambúrguer navbar --- */
.navbar-toggler {
    width: 30px; 
    height: 24px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

/* Definindo as três barras do botão (top, middle, bottom) */
.top-bar {
    top: 0px;
    transform: rotate(0deg);
}

.middle-bar {
    top: 9px;
    opacity: 1;
}

.bottom-bar {
    top: 18px;
    transform: rotate(0deg);
}

/* Estado padrão (menu fechado - ícone de hambúrguer) */
.navbar-toggler .top-bar {
    transform: rotate(0deg);
}

.navbar-toggler .middle-bar {
    opacity: 1;
}

.navbar-toggler .bottom-bar {
    transform: rotate(0deg);
}

/* Estado do menu aberto (X) */
.navbar-toggler:not(.collapsed) .top-bar {
    transform: rotate(45deg);
    top: 9px; /* Mover para o centro */
}

.navbar-toggler:not(.collapsed) .middle-bar {
    opacity: 0; /* Esconder o traço do meio */
}

.navbar-toggler:not(.collapsed) .bottom-bar {
    transform: rotate(-45deg);
    top: 9px; /* Mover para o centro */
}

/* Estado do menu fechado (voltar ao ícone de hambúrguer) */
.navbar-toggler.collapsed .top-bar {
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    top: 18px;
    transform: rotate(0deg);
}
/* === Botão Hambúrguer navbar === */