/* -====- CSS navbar e footer -====- */
/* -- Menu/Botões navbar -- */
.nav-link, .btn {
    font-size: 0.9rem;
    padding: 0.2rem;
}
/* Bordas navbar */
.navbar {
    border: 1px solid var(--dourado);
    border-top: none;
    border-radius: 0 0 16px 16px;
    -webkit-border-radius: 0 0 16px 16px;
    -moz-border-radius: 0 0 16px 16px;
    -ms-border-radius: 0 0 16px 16px;
    -o-border-radius: 0 0 16px 16px;
}
/* Hover(Efeito ao passar o mouse) Navbar */
.nav-item {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
.nav-item:hover {
    background: var(--amarelo);
    border-radius: 0.5rem;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
/* transição cores do texto */
.text-white {
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
.text-white:hover {
    color: var(--preto) !important;
    font-weight: bold;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
/* Transição do elemento ativo */
.active {
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
.active:hover {
    background: var(--dourado);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
/* --- Botão Hambúrguer navbar --- */
.navbar-toggler {
    width: 30px; 
    height: 24px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler span {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--branco);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}
/* Barras do botão hambúrguer (top, middle, bottom) */
.top-bar {
    top: 0px;
    transform: rotate(0deg);
}
.middle-bar {
    top: 9px;
    opacity: 1;
}
.bottom-bar {
    top: 18px;
    transform: rotate(0deg);
}
/* Estado padrão (menu fechado - ícone de hambúrguer) */
.navbar-toggler .top-bar {
    transform: rotate(0deg);
}
.navbar-toggler .middle-bar {
    opacity: 1;
}
.navbar-toggler .bottom-bar {
    transform: rotate(0deg);
}
/* Estado do menu aberto (X) */
.navbar-toggler:not(.collapsed) .top-bar {
    transform: rotate(45deg);
    top: 9px;
}
.navbar-toggler:not(.collapsed) .middle-bar {
    opacity: 0;
}
.navbar-toggler:not(.collapsed) .bottom-bar {
    transform: rotate(-45deg);
    top: 9px;
}
/* Estado do menu fechado (voltar ao ícone de hambúrguer) */
.navbar-toggler.collapsed .top-bar {
    top: 0px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
    top: 18px;
    transform: rotate(0deg);
}
/* ---- Copyright - Footer ---- */
.card-footer {
    background: var(--dourado-escuro) !important;
    color: var(--branco) !important;
}