/* --== Imports do css das página ==-- */
@import url(./navbar-footer.css);
@import url(./home.css);
@import url(./login.css);
/* ==== Padronização do site ==== */
:root {
    /* --bs-warning-rgb: 228, 161, 27; */
    /* --bs-secondary-color: rgba(79, 79, 79, 0.75); */
    /* --bs-warning: #e4a11b; */
    /* --bs-secondary-color: rgba(79, 79, 79, 0.75); */
    --mdb-bg-opacity: 1;
    /* ==== Cores base ==== */
    --preto: #000;
    --branco: #fff;
    --amarelo: #ffc107;
    --amarelo-font: #FFD700;
    --dourado: #e4a11b; 
    --dourado-escuro: #c9901f;
    /* ==== Fontes base ==== */
    --font-Montserrat: "Montserrat", sans-serif; /* Fonte Padrão */
    --font-Lalezar: "Lalezar", system-ui; /* Fonte adicional */
}
/* -=- Config global -=- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: var(--font-Montserrat);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* ---- Config "main" (index) ---- */
#content {
    position: relative;
    overflow: hidden; 
}
/* ---- Config "section" (Conteúdos das páginas) ---- */
.section-page {
    display: inline-block;
    min-height: 100vh;
    position: relative;
    /* width: auto; */
    /* height: auto; */
}
/* ============================================== */
/* --= "div" Página principal - 'index' (nav, main, footer) =-- */
.container-base{
    padding: 0;
    margin: 0;
}
/* ++ Classe personalizada para fonte Lalezar ++ */
.jb-font-Lalezar {
    font-family: var(--font-Lalezar);
    font-weight: 400;
    font-style: normal;
}