@import url(./login.css);
@import url(./home.css);
@import url(./about.css);
:root {
    /* --bs-warning-rgb: 228, 161, 27; */
    /* --bs-secondary-color: rgba(79, 79, 79, 0.75); */
    /* --bs-warning: #e4a11b; */
    /* --bs-secondary-color: rgba(79, 79, 79, 0.75); */
    --amarelo-font: #FFD700;
    --mdb-bg-opacity: 1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#content {
    max-height: auto;
    border: 2px solid;
    
}

.container-base{
    padding: 0;
    margin: 0;
}
/* ==== Menu/Botões navbar ==== */
.nav-link, .btn {
    font-size: 0.9rem;
    padding: 0.2rem;
}
/* Bordas navbar */
.navbar {
    border: 1px solid #e4a11b;
    border-top: none;
    border-radius: 0 0 16px 16px;
    -webkit-border-radius: 0 0 16px 16px;
    -moz-border-radius: 0 0 16px 16px;
    -ms-border-radius: 0 0 16px 16px;
    -o-border-radius: 0 0 16px 16px;
}
/* Hover(Efeito ao passar o mouse) Navbar */
ul > li {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
ul > li:hover {
    background: #ffc107;
    border-radius: 0.5rem;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
.text-white {
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
.text-white:hover {
    color: #000 !important;
    font-weight: bold;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
.activer {
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
.activer:hover {
    background: #e4a11b;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}
/* --- Botão Hambúrguer navbar --- */
.navbar-toggler {
    width: 30px; 
    height: 24px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:activer,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler span {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}
/* Definindo as três barras do botão (top, middle, bottom) */
.top-bar {
    top: 0px;
    transform: rotate(0deg);
}
.middle-bar {
    top: 9px;
    opacity: 1;
}
.bottom-bar {
    top: 18px;
    transform: rotate(0deg);
}
/* Estado padrão (menu fechado - ícone de hambúrguer) */
.navbar-toggler .top-bar {
    transform: rotate(0deg);
}
.navbar-toggler .middle-bar {
    opacity: 1;
}
.navbar-toggler .bottom-bar {
    transform: rotate(0deg);
}
/* Estado do menu aberto (X) */
.navbar-toggler:not(.collapsed) .top-bar {
    transform: rotate(45deg);
    top: 9px; /* Mover para o centro */
}
.navbar-toggler:not(.collapsed) .middle-bar {
    opacity: 0; /* Esconder o traço do meio */
}
.navbar-toggler:not(.collapsed) .bottom-bar {
    transform: rotate(-45deg);
    top: 9px; /* Mover para o centro */
}
/* Estado do menu fechado (voltar ao ícone de hambúrguer) */
.navbar-toggler.collapsed .top-bar {
    top: 0px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
    top: 18px;
    transform: rotate(0deg);
}
/* === Botão Hambúrguer navbar === */

/* Copyright - Footer */
.card-footer {
    background: #c9901f !important;
    color: #ffffff !important;
}