* {
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}

.textoAmarelo{
    color: #FFD700;
}
.fundo{
    width: auto;
}
.textDiv{
    /* background-color: black; */
    /* font-size: 1%; */
    /* padding: 20px 0px 20px 20px; */
    /* padding-right: 0px; */
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-align: left;
    width: 70%;
    margin-top: 7%;
    margin-left: 6%;
}
.spaceText{
    font-size: 3.5rem;
}